body{
    background-color: crimson;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
}

h1{
    color: cornsilk;
}

h3{
    color: white;    
}

.rectangle{    
    height: 50px;
    width: 200px;
    background-color: rgb(12, 3, 3);
    margin-left: 43%;
}


